body {
	background-image: url("../images/waves.png");
	margin: 0px;
	padding: 0px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	height: 100%;
}

a {
	text-decoration: none;
	color: #777777;
}
a:hover {
	text-decoration: underline;
	color: #3E0CE8;
}

p {
	line-height: 200%;
}

img {
	margin: 5px;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
	width: 98%;
	max-width: 98%;
	height: 200px;
	padding: 5px;
	margin: 8px 0;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
	color: white;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

footer {
	border-top: 8px solid #4aaaa5;
	clear: both;
	text-align: center;
	background-color: #666666;
	font-size: 70%;
	color: white;
	padding: 30px;
}

.button {
	background-color: #4aaaa5;
	color: white;
	cursor: pointer;
	padding: 10px 30px;
	margin: 15px 0px;
	border: none;
	font-size: 130%;
}

.container {
	width: 960px;
	margin: auto;
	clear: both;
}

.topbox {
	width: 960px;
	margin: auto;
	overflow: hidden;
}
.name {
	background: #4aaaa5;
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
	float: left;
}

.links {
	float: right;
	padding: 4% 0px;
}

.pic1, .pic2, .pic3, .pic4, .pic5 {
	width: 280px;
	height: 200px;
	float: left;
	margin: 16px 12px;
}

.pic1 {
	background-image: url("../images/pic1.jpg");
}

.pic2 {
	background-image: url("../images/pic2.jpg");
}

.pic3 {
	background-image: url("../images/pic3.jpg");
}

.pic4 {
	background-image: url("../images/pic4.jpg");
}

.pic5 {
	background-image: url("../images/pic5.jpg");
}

.portlink {

	text-align: center;
	width:100%;
	padding: 1px 0;
	margin-top: 40%;
	background-color: #4aaaa5;
}

.portlink a {
	color:white;
}

#main-info {
	float: left;
	width: 608px;
	margin: 30px 0px;
	background: white;
	border: 1px solid #dddddd;
	padding: 10px 20px;
}

#social-links {
	text-align: center;
	float: right;
	width: 228px;
	margin: 30px 0px;
	background: white;
	border: 1px solid #dddddd;
	padding: 10px 20px;
}

#me {
	float: left;
	width: 200px;
	margin: 10px 20px 10px 0px;
}